%h1 Listing feedbacks
%table
	%tr
		%th Text
		%th From email
		%th
		%th
		%th

	- @feedbacks.each do |feedback|
		%tr
			%td= feedback.text
			%td= feedback.from_email
			%td= link_to 'Show', feedback
			%td= link_to 'Edit', edit_feedback_path(feedback)
			%td= link_to 'Destroy', feedback, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New Feedback', new_feedback_path
